@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #323232;
    background-color: #DDD0C8;
}




h1,
h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;

}

#label {
    display: flex;
    justify-content: center;
    font-size: 280%;
    padding: 1rem;
}


#menu {

    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
    background-color: #f5f5dc;





}

#menu li {

    list-style-type: none;


    display: flex;
    display: inline-block;

    margin: 30px;
    align-items: center;
    justify-content: space-around;
    justify-content: space-between;

}

#menu a {
    text-decoration: underline;
    color: inherit;
    text-align: center;


}

#menu a:hover {
    border-bottom: 1px solid #252525;


}

#active {
    color: red;
}

#hero-outer {
    height: 53vh;
    width: 100%;
    overflow: hidden;
    position: relative;

}

#cover-text,
#cover-text h2 {
    color: #2b2d2f;


}

#cover-text,
#cover-text h3 {
    color: #2b2d2f;

}

h1 {
    background-color: beige;
    padding: 2rem;
    color: #808080;

}

#hero-image {
    display: flex;
    flex-direction: column;
    height: 60vh;
    background: url(../images/hero-image.jpg);
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-attachment: fixed;
    justify-content: center;
    align-self: center;
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: backwards;
}


@keyframes hero-zoom {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.1);

    }

}

#cover-text {
    font-size: 100%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 200px;
    height: 52vh;

    padding-top: 40px;
    padding-left: 10px;

    top: 30px;
    left: 150px;
    position: absolute;


}

#cover-text h3 {
    font-size: 100%;
    font-family: Roboto, sans-serif;
    text-transform: lowercase;
    letter-spacing: 4px;

    width: 200px;
    height: 100px;

    padding-top: 40px;
    padding-right: 10px;


    right: 30px;
    left: 150px;
    position: absolute;

}

#Classes {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: beige;

    height: 20vh;

}

.parent {
    display: flex;
    justify-content: center;
    padding: 1rem;
}


h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    justify-content: space-around;
    justify-content: space-between;
    height: 25px;

}


h3 {
    display: flex;
    align-items: flex-end;
    height: 25px;
    display: inline;
    justify-content: space-around;
    justify-content: space-around;
    color: #2b2d2f;
    background: #f5f5dc;
    
    
}



#footer {
    display: flex;
    align-items: flex-end;
    height: 150px;



}

.social-networks {
    text-align: center;
    background-color: rgba(221, 208, 200, .6);


}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #252525
}

#contact-text {
    letter-spacing: 4px;
    position: absolute;
    left: 0;
    padding: 3rem;
    padding-top: 150px;
    



}
   
    

#yoga-image {
    height: 400px;
    width: 100%;
    background: url('../images/yoga-image.jpg') no-repeat center center;
    position: absolute;

}

#yoga-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;

}

#yoga-class {
    height: 600px;
    width: 50%;
    background: url('../images/yoga-image.jpg') no-repeat center center;

}

footer {
    height: 15vh;
}

.social-media {
    text-align: center;


}

.social-media>li {

    display: inline;

}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #252525;
}



.container-form {
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    background: url('../images/de-stress.avif') no-repeat center center;

    justify-content: center;



}

form {
    display: grid;
    grid-row-gap: 20px;


}

form p {
    font-weight: 600;
}

input,
select {
    padding: 10px 15px;
}

.btn {
    background-color: #252525;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    border-radius: 100px;


}

h2 {

    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 480px) {
    #classes {
        font-size: 18px;

        margin: 0 auto;
        padding: 0;
    }

    #contact-text {
        font-size: 18px;
    }

}

#label {
    font-size: 18px;
}






@media only screen and (min-width: 480px) {
    #classes {
        font-size: 18px;

        margin: 0 auto;
        padding: 0;
    }

    #contact-text {
        font-size: 18px;
    }

}

#label {
    font-size: 18px;

}


#menu {

    display: inline;
    font-size: 14px;
}

@media only screen and (max-width: 780px) {
    #classes {
        font-size: 18px;

        margin: 0 auto;
        padding: 0;
    }

    #contact-text {
        font-size: 18px;
    }

}

@media only screen and (min-width: 780px) {
    #classes {
        font-size: 18px;

        margin: 0 auto;
        padding: 0;
    }

    #contact-text {
        font-size: 18px;
    }

}

@media only screen and (max-width: 992px) {
    #classes {
        font-size: 18px;

        margin: 0 auto;
        padding: 0;
    }

    #contact-text {
        font-size: 18px;
    }

}

@media only screen and (min-width: 992px) {
    #classes {
        font-size: 18px;

        margin: 0 auto;
        padding: 0;
    }

    #contact-text {
        font-size: 18px;
    }

}