@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #323232;        
    background-color: #DDD0C8;
    }
    h1, h2 {
        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #252525;

    }
#logo {
    float: center;
    font-size: 300%;
    display: flex;
    justify-content: center;

}
#menu{
    font-size: 120%;
    letter-spacing: 4px;
}
#menu, #logo{
    list-style: 80px;

}

#menu li {
    float: left;
    list-style: none;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    margin: 30px;
    
}
#menu a{
    text-decoration: none ;
    color: inherit;

}

#menu a:hover{
    border-bottom: 1px solid #252525;


}
.active{
    border-radius: 1px solid #252525;
}