@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #323232;        
    background-color: #DDD0C8;
    }
    h1, h2 {
        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #252525;

    }
#logo {
    float: center;
    font-size: 300%;
    display: flex;
    justify-content: center;

}
#menu{
    font-size: 120%;
    letter-spacing: 4px;
}
#menu, #logo{
    list-style: 80px;

}

#menu li {
    float: left;
    list-style: none;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    margin: 30px;
    
}
#menu a{
    text-decoration: none ;
    color: inherit;

}

#menu a:hover{
    border-bottom: 1px solid #252525;


}
.active{
    border-radius: 1px solid #252525;

}
#hero-outer{
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;

}
#cover-text, #cover-text h2{
    color:#2b2d2f;

}
#cover-text,#cover-text h3{
color:#2b2d2f;

}
#hero-image{
    display: flex;
    flex-direction: column;    
    height: 1200px;   
    background: url(../images/hero-image.jpeg);
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-attachment: fixed;
    justify-content: center;
    align-self: center;
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: backwards;
}


@keyframes hero-zoom {
    from{
        transform: scale(1)

    }
    to{
        transform: scale(1.1);

    }
    
}
#cover-text {
    font-size: 100%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 200px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;
    
    top: 30px;
    left: 150px;
    position: absolute;
    
    
}
#cover-text h3{
    font-size: 100%;
        font-family: Roboto, sans-serif;
        text-transform: lowercase;
        letter-spacing: 4px;
    
        width: 200px;
        height: 100px;
    
        padding-top: 40px;
        padding-right: 10px;
    
        right: 30px;
        left: 150px;
        position: absolute;

}

#Classes {
    display: flex;
    justify-content: flex-start;
    float: left;
    

}
#left-about-heading {
    display: flex;
    padding-top: 150px;
    width: 33%;
    justify-content: flex-start;
    justify-content: space-between;
    justify-content: space-around;
    
}
#right-about-heading{
    display: flex;
    justify-content: flex-start;
    padding-top: 150px;
        width: 33%;
        justify-content: space-between;
        justify-content: space-around;
        
        

}
 

#center-about-heading{
    display: flex;
    padding-top: 150px;
        width: 33%;
        justify-content:center;
        margin: 0 auto;
        justify-content: space-between;
        justify-content: space-around;
    
}
.Vinyasa {
    display: flex;
    justify-content: flex-start;
    
    text-align: left;
    justify-content: space-between;
        justify-content: space-around;
        position: absolute;
        float: left;


}
.Yin {
    display: flex;
    justify-content: flex-end;
    
    text-align: left;
    justify-content: space-between;
        justify-content: space-around;
        position: absolute;
        float: left;


}

#contact {
         font-size: 150%;
        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
    
        width: 200px;
        height: 100px;
    
        padding-top: 120px;
        padding-right: 30px;
    
        right: 30px;
        left: 150px;
        position: absolute;


}
#main-footer{
    display: flex;
        justify-content: flex-start;

}